<label>Server Name</label>
<!-- <input type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->
<input 
type="text"
class="form-control"
[(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button 
class="btn btn-primary"
 [disabled]="!allowNewServer"
 (click)="onCreateServer()">Add server</button>
 <!-- <p [innerText]="allowNewServer"></p> -->
 <p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>

<!-- out put something in your template, use string interpolation -->
<!-- change property, element, directives, component use property binding -->
<!-- Do not mix string interpolation and property binding -->